body {
	margin: 0;
	height: 100%;
}

div {
	box-sizing: border-box;
}

.music_player {
	margin: auto;
	width: 100%;
}

.music_container {
	width: 98%;
	margin: auto;
}

.bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#music_player {
	width: 100%;
	background-color: white;
	margin: 0;
}

.wrapper {
	margin: 0;
	height: 20px;
	background-color: black;
}
