<section class="user">
	<div class="user_options-container">
		<div class="user_options-text">
			<div class="user_options-unregistered">
				<h2 class="user_unregistered-title">Don't have an account?</h2>
				<p class="user_unregistered-text"></p>
				<button class="user_unregistered-signup" id="signup-button">
					Sign up
				</button>
			</div>

			<div class="user_options-registered">
				<h2 class="user_registered-title">Have an account?</h2>
				<p class="user_registered-text"></p>
				<button class="user_registered-login" id="login-button">Login</button>
			</div>
		</div>

		<div class="user_options-forms" id="user_options-forms">
			<div class="user_forms-login">
				{% if err%}
				<div class="alert alert-danger" role="alert">
					{{ err }}
				</div>
				{%elif ok%}
				<div class="alert alert-success" role="alert">
					{{ ok }}
				</div>
				{%endif%}
				<h2 class="forms_title">Login</h2>

				<form method="POST" action="/login" class="forms_form">
					<fieldset class="forms_fieldset">
						<div class="forms_field">
							<label for="exampleInputEmail">Email:</label>
							<input name="email" type="email" id="exampleInputEmail1" placeholder="Enter email"
								class="forms_field-input" required autofocus />
						</div>
						<div class="forms_field">
							<label for="exampleInputPassword">Password:</label>
							<input name="password" type="password" id="exampleInputPassword"
								placeholder="Enter password" class="forms_field-input" required />
						</div>
					</fieldset>
					<div class="forms_buttons">
						<button type="button" class="forms_buttons-forgot">
							Forgot password?
						</button>
						<input type="submit" value="Log In" class="forms_buttons-action" />
					</div>
				</form>
			</div>
			<div class="user_forms-signup">
				<h2 class="forms_title">Sign Up</h2>
				<form method="POST" action="/signup" class="forms_form">
					<fieldset class="forms_fieldset regis">
						<div class="forms_field">
							<label for="nameInput">Name:</label>
							<input class="forms_field-input" name="name" type="text" id="nameInput"
								placeholder="example: Tom" required />
						</div>
						<div class="forms_field">
							<label for="emailInput">Email:</label>
							<input class="forms_field-input" name="email" type="email" id="emailInput"
								placeholder="example: Tom@gmail.com" required />
						</div>

						<div class="forms_field">
							<label for="passwordInput">Set a password:</label>
							<input name="password" type="password" id="passwordInput" class="forms_field-input"
								placeholder="Enter your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
								title="at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
								required />
						</div>

						<div class="forms_field">
							<label for="confirmPasswordInput">Confirm Password</label>
							<input name="password_confirm" type="password" class="forms_field-input"
								id="confirmPasswordInput" placeholder="Re-enter your password here"
								pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required />
						</div>
					</fieldset>
					<div class="forms_buttons">
						<input type="submit" value="Sign up" class="forms_buttons-action" />
					</div>
				</form>
			</div>
		</div>
	</div>
</section>