body {
	margin: 0;
}

div {
	box-sizing: border-box;
}

.header_grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	grid-gap: 10px;
	padding: 10px;
	background-color: #2196f3;
}

.header_grid > div {
	border: 1px solid black;
}

.music_player {
	margin: auto;
	width: 100%;
}

.control_grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	grid-gap: 10px;
	padding: 10px;
	background-color: #219593;
}

.music_container {
	width: 98%;
	margin: auto;
}

table,
th {
	border: 1px solid black;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid black;
}

th,
td {
	box-sizing: border-box;
	padding: 5px;
}

.form_input {
	display: flex;
	justify-content: start;
}
